<!DOCTYPE HTML>
{%load static%}  <!-- loading static files (css -js - images) -->
{%load filters%} <!-- function for filtering stars -->


<html lang="zxx">
	{% include "header.html" %}
	<body>
		
	    <div id="preloader"></div>
		{% include "navbar.html" %}

		{% include "login.html" %}

		<section class="breadcrumb-area">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="breadcrumb-area-content">
							<h1>Movies Page</h1>
						</div>
					</div>
				</div>
			</div>
		</section><!-- breadcrumb area end -->

		<section class="portfolio-area pt-60">
			<div class="container">
				<div class="row flexbox-center">
					<div class="col-lg-6 text-center text-lg-left">
					    <div class="section-title">
							<h1><i class="icofont icofont-movie"></i> Genres</h1>
						</div>
					</div>
					<div class="col-lg-6 text-center text-lg-right">
					    <div class="portfolio-menu">
							<ul>
								<li data-filter="*" class="active">All</li>
								{% for genre in genres %}
       								<li data-filter=".{{ genre.name|lower }}">{{ genre.name }}</li>
   								{% endfor %}
								
							</ul>
						</div>
					</div>
				</div>
				<hr />
				<div class=" portfolio-item<">
					<div class="row">
					<div class="container portfolio-item">    
								{% for movie in data %}
								
									<div class="col-lg-3 col-md-4 col-sm-6 text-center  m-4 {% for genre in movie.genres %}{{ genre|lower  }} {% endfor %}" onclick="window.location.href='{% url 'movie_details' movie.id %}'" style="cursor: pointer">
										<div class="single-portfolio">
											<div class="single-portfolio-img">
												<img style="height: 400px; width: 300px; border-radius: 10%;" src="{{ movie.poster }}" alt="portfolio" />
												<a href="https://www.youtube.com/watch?v=RZXnugbhw_4" class="popup-youtube">
													<i class="icofont icofont-ui-play"></i>
												</a>
											</div>
											<div class="portfolio-content">
												<h2>{{ movie.title }}</h2>
												<div class="review">
													<div class="author-review">
														{% for i in '12345' %}
															{{ movie.rating|floatformat|star_evaluation:i|safe }}
														{% endfor %}
													</div>
													<h4>999k voters</h4>
												</div>
											</div>
										</div>
									</div>
									
								{% endfor %} 

						</div>
					</div>
					
				</div>

		<!-- video section start -->
		<section class="video ptb-90">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
					    <div class="section-title pb-20">
							<h1><i class="icofont icofont-film"></i> Trailers & Videos</h1>
						</div>
					</div>
				</div>
				<hr />
				<div class="row">
                    <div class="col-md-12">
						<div class="video-slider mt-20">
							<div class="video-area">
								<img src="{% static '/img/video/video2.png'%}" alt="video" />
								<a href="https://www.youtube.com/watch?v=RZXnugbhw_4" class="popup-youtube">
									<i class="icofont icofont-ui-play"></i>
								</a>
							</div>
							<div class="video-area">
								<img src="{% static '/img/video/video3.png'%}" alt="video" />
								<a href="https://www.youtube.com/watch?v=RZXnugbhw_4" class="popup-youtube">
									<i class="icofont icofont-ui-play"></i>
								</a>
							</div>
							<div class="video-area">
								<img src="{% static '/img/video/video4.png'%}" alt="video" />
								<a href="https://www.youtube.com/watch?v=RZXnugbhw_4" class="popup-youtube">
									<i class="icofont icofont-ui-play"></i>
								</a>
							</div>
							<div class="video-area">
								<img src="{% static '/img/video/video5.png'%}" alt="video" />
								<a href="https://www.youtube.com/watch?v=RZXnugbhw_4" class="popup-youtube">
									<i class="icofont icofont-ui-play"></i>
								</a>
							</div>
							<div class="video-area">
								<img src="{% static '/img/video/video3.png'%}" alt="video" />
								<a href="https://www.youtube.com/watch?v=RZXnugbhw_4" class="popup-youtube">
									<i class="icofont icofont-ui-play"></i>
								</a>
							</div>
							<div class="video-area">
								<img src="{% static '/img/video/video5.png'%}" alt="video" />
								<a href="https://www.youtube.com/watch?v=RZXnugbhw_4" class="popup-youtube">
									<i class="icofont icofont-ui-play"></i>
								</a>
							</div>
							<div class="video-area">
								<img src="{% static '/img/video/video4.png'%}" alt="video" />
								<a href="https://www.youtube.com/watch?v=RZXnugbhw_4" class="popup-youtube">
									<i class="icofont icofont-ui-play"></i>
								</a>
							</div>
							<div class="video-area">
								<img src="{% static '/img/video/video5.png'%}" alt="video" />
								<a href="https://www.youtube.com/watch?v=RZXnugbhw_4" class="popup-youtube">
									<i class="icofont icofont-ui-play"></i>
								</a>
							</div>
						</div>
                    </div>
				</div>
			</div>
		</section><!-- video section end -->
		<!-- footer section start -->
		{% include "footer.html" %}

	</body>

</html>