<!DOCTYPE HTML>
{%load static%}

<html lang="zxx">
	{% include "header.html" %}
	<body>
		
	    <div id="preloader"></div>
		{% include "navbar.html" %}

		{% include "login.html" %}
		<section class="breadcrumb-area">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="breadcrumb-area-content">
							<h1>Movies Page</h1>
						</div>
					</div>
				</div>
			</div>
		</section><!-- breadcrumb area end -->
		<!-- portfolio section start -->
		<section class="portfolio-area pt-60">
			<div class="container">
				<div class="row flexbox-center">
					<div class="col-lg-6 text-center text-lg-left">
					    <div class="section-title">
							<h1><i class="icofont icofont-movie"></i> Genres</h1>
						</div>
					</div>
					<div class="col-lg-6 text-center text-lg-right">
					    <div class="portfolio-menu">
							<ul>
								<li data-filter="*" class="active">All</li>
								{% for genre in genres %}
       								<li data-filter=".{{ genre.name|lower }}">{{ genre.name }}</li>
   								{% endfor %}
								{% comment %} 
								<li data-filter="">Action</li>
								<li data-filter=".top">Top Rated</li>
								<li data-filter=".released">Recently Released</li> {% endcomment %}
							</ul>
						</div>
					</div>
				</div>
				<hr />
				<div class=" portfolio-item">
 
					<div class="container-fluid">	
						{% for movie in action_movies %}
						<!-- Display movie details here -->
						<p>Title: {{ movie.title }}</p>
						<p>Genres: {% for genre in movie.genres.all %}{{ genre.name }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>
						<!-- Add other movie details as needed -->
					{% endfor %}
					



						<div class="row">
						{% for movie in movies %}
								{% if forloop.counter0|divisibleby:4 %} <div class="row text-center"> {%  endif %}
									<div class="col-lg-3 col-md-4 col-sm-6 "  onclick="window.location.href='{% url 'movie_details' movie.id %}'" style="cursor: pointer">
										<div class="single-portfolio">
											<div class="single-portfolio-img">
												<img style="height: 400px; width: 300px; border-radius: 10%;" src="{{ movie.image.url }}" alt="portfolio" />
												<a href="https://www.youtube.com/watch?v=RZXnugbhw_4" class="popup-youtube">
													<i class="icofont icofont-ui-play"></i>
												</a>
											</div>
											<div class="portfolio-content">
												<h2>{{ movie.title }}</h2>
												<div class="review">
													<div class="author-review">
														{% for i in '12345' %}
															{% with threshold=i|floatformat|add:"-0.5" %}
																{% if threshold < movie.rating|floatformat %}
																	<img src="{% static '/img/star.svg'%}" alt="portfolio" />
																	
																{% elif threshold == movie.rating|floatformat %}
																	<img src="{% static '/img/half-star.svg'%}" alt="portfolio" />
																	
																{% else %}
																	<img src="{% static '/img/empty-star.svg'%}" alt="portfolio" />
																	
																{% endif %}
															{% endwith %}
														{% endfor %}
													</div>
													<h4>999k voters</h4>
												</div>
											</div>
										</div>
									</div>
									{% if forloop.counter|divisibleby:4 or forloop.last %}</div><!-- row closing --><hr>{% endif %}
								{% endfor %} 
							</div>
						</div>
					</div>
					
				</div>

		<!-- video section start -->
		<section class="video ptb-90">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
					    <div class="section-title pb-20">
							<h1><i class="icofont icofont-film"></i> Trailers & Videos</h1>
						</div>
					</div>
				</div>
				<hr />
				<div class="row">
                    <div class="col-md-12">
						<div class="video-slider mt-20">
							<div class="video-area">
								<img src="{% static '/img/video/video2.png'%}" alt="video" />
								<a href="https://www.youtube.com/watch?v=RZXnugbhw_4" class="popup-youtube">
									<i class="icofont icofont-ui-play"></i>
								</a>
							</div>
							<div class="video-area">
								<img src="{% static '/img/video/video3.png'%}" alt="video" />
								<a href="https://www.youtube.com/watch?v=RZXnugbhw_4" class="popup-youtube">
									<i class="icofont icofont-ui-play"></i>
								</a>
							</div>
							<div class="video-area">
								<img src="{% static '/img/video/video4.png'%}" alt="video" />
								<a href="https://www.youtube.com/watch?v=RZXnugbhw_4" class="popup-youtube">
									<i class="icofont icofont-ui-play"></i>
								</a>
							</div>
							<div class="video-area">
								<img src="{% static '/img/video/video5.png'%}" alt="video" />
								<a href="https://www.youtube.com/watch?v=RZXnugbhw_4" class="popup-youtube">
									<i class="icofont icofont-ui-play"></i>
								</a>
							</div>
							<div class="video-area">
								<img src="{% static '/img/video/video3.png'%}" alt="video" />
								<a href="https://www.youtube.com/watch?v=RZXnugbhw_4" class="popup-youtube">
									<i class="icofont icofont-ui-play"></i>
								</a>
							</div>
							<div class="video-area">
								<img src="{% static '/img/video/video5.png'%}" alt="video" />
								<a href="https://www.youtube.com/watch?v=RZXnugbhw_4" class="popup-youtube">
									<i class="icofont icofont-ui-play"></i>
								</a>
							</div>
							<div class="video-area">
								<img src="{% static '/img/video/video4.png'%}" alt="video" />
								<a href="https://www.youtube.com/watch?v=RZXnugbhw_4" class="popup-youtube">
									<i class="icofont icofont-ui-play"></i>
								</a>
							</div>
							<div class="video-area">
								<img src="{% static '/img/video/video5.png'%}" alt="video" />
								<a href="https://www.youtube.com/watch?v=RZXnugbhw_4" class="popup-youtube">
									<i class="icofont icofont-ui-play"></i>
								</a>
							</div>
						</div>
                    </div>
				</div>
			</div>
		</section><!-- video section end -->
		<!-- footer section start -->
		{% include "footer.html" %}


{% comment %} 
		<script>
			document.addEventListener("DOMContentLoaded", function () {
				let genreFilterButtons = document.querySelectorAll("#genre-filter li");
				let movieItems = document.querySelectorAll(".portfolio-item .col-lg-3");
		
				genreFilterButtons.forEach(function (button) {
					button.addEventListener("click", function () {
						// Remove 'active' class from all buttons
						genreFilterButtons.forEach(function (btn) {
							btn.classList.remove("active");
						});
		
						// Add 'active' class to the clicked button
						button.classList.add("active");
		
						// Filter movies based on the selected genre
						let selectedGenre = button.getAttribute("data-filter");
		
						movieItems.forEach(function (item) {
							item.style.display = "none";
		
							if (selectedGenre === "*" || item.classList.contains(selectedGenre)) {
								item.style.display = "block";
							}
						});
					});
				});
			});
		</script> {% endcomment %}
		
	</body>

</html>